.bgimg {
	background-image: url(/image2/k.png);
	background-repeat: no-repeat;
	height: auto;
     min-height: 100%;
    background-position: center;
    background-size: cover;
}

h1 {
	padding-top: 10px;
	margin-left: 20px;
	color: #C4E538;
	font-weight: bold;
}

form {

}

label {
	margin-left: 20px;
}

a {
	color: #12CBC4;
}