<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
  <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
  <link rel="stylesheet" type="text/css" href="styles/responsive.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="styles/bootstrap4/popper.js"></script>
  <script src="styles/bootstrap4/bootstrap.min.js"></script>
  <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
  <script src="plugins/easing/easing.js"></script>
  <script src="plugins/parallax-js-master/parallax.min.js"></script>
  <script src="js/custom.js"></script>



<body style="background-color: #009688;" >




	<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Créer un compte</h4>

<!--
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
  	<span class="bg-light">OR</span>
  </p>
-->

	<form action="/user" method="post">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<div class="form-group input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
	        <input name="name" class="form-control" placeholder="Nom complet" type="text">
	    </div> <!-- form-group// -->
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			 	</div>
	        <input name="email" class="form-control" placeholder="Email " type="email">
	    </div> <!-- form-group// -->
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				<select class="custom-select" style="max-width:120px;">
			    <option selected="">+261</option>
			    <option value="1">+33</option>
			    <option value="2">+1</option>
				</select>
	    	<input name="phone" class="form-control" placeholder="Téléphone" type="text">
	    </div> <!-- form-group// -->
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
			</div>
			 <select class="form-control">
				<option selected=""> Choix du métier</option>
				<option>Pharmaciste</option>
				<option>Docteur</option>
				<option>Autre</option>
			</select>
		</div> <!-- form-group end.// -->
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div>
	        <input name="password" class="form-control" placeholder="Create password" type="password">
	    </div> <!-- form-group// -->
	    <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div>
	        <input name="password" class="form-control" placeholder="Repeat password" type="password">
	    </div> <!-- form-group// -->
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary btn-block"> Créer un compte </button>
	    </div> <!-- form-group// -->
	    <p class="text-center">
				Déjà membre? <a href="/session/new">Se connecter</a>
			</p>
	</form>
</article>
</div> <!-- card.// -->
</div>
<!--container end.//-->

<!-- retour a la page d'accueil -->
<div class="container">
  <div class="text-right">
    <a href="/">
      <i class="fas fa-sign-out-alt" style="font-size:25px;color:black"></i>
    </a>
  </div>
</div>

</body>
